# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- Describe commonly used data science libraries
- Explain development environment tools used in data science
- Provide examples of data science applications
- Summarize the data science ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages taht Data Scientist use are:
1. Python
2. R
3. SQL
4. Java

# Some of the commonly used libraries used by Data Scientist include:
1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib

| Data Science Tools |
|--------------------|
| Jupiter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Adam